body {
  margin: 0;
  font-family: sans-serif;
}

.slider-icon {
  max-height: 25px;
}

#interpretation-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#container {
  background: rgba(255,255,255,1);
  border-radius: 5px;
  display: none;
  font-size: 14px;
  padding: 5px;
  position: fixed;
  left: 8px;
  transition: top .3s ease-in 1.3s;
  top: -150px;
}

#meet {
  display: none;
}

.slider-label {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
}

.slider-icon {
  cursor: pointer;
}

.interpretation-volume {
  cursor: pointer;
}

#slow-down-alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 2em;
  opacity: 0.7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  border: 1px #000 solid;
}

#splash-page {
  display: none;
}

#splash-page-top a {
  color: #fff;
}

#splash-page-bottom {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20%;
  padding-right: 20%;
  color: #747677;
}
#splash-page-top {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-image: url(/img/welcome-background.png);
  margin-right: auto;
  margin-left: auto;
  padding-left: 20%;
  padding-right: 20%;
}

button#slow-down-request {
  font-size: .8em;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.connection-status {
  color: green;
}

iframe {
 display: block;
 width: 100%;
 border: none;
 overflow-y: auto;
}

html {
 overflow: auto;
}

html, body, div#app, div#main, div#meet, iframe {
 margin: 0px;
 padding: 0px;
 height: 100%;
 border: none;
}
